body {
    background-color: #f9e6c0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 5px;
    padding: 3px;
    box-sizing: border-box;
}
nav {
    background-color: #f9fae0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.day {
    color: #333;
    background-color: #d4f6e2;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.journal-entry {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.line
    {
        border-top: 2px solid #1e1c1c;
        margin: 20px 0;
        border-radius: 5px;
        border-bottom: 2px solid #2e2a2a;
    }