            .video-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            } 
            .thumbnail-row {
                position: relative;
                margin-bottom: 12px;
            }

            .thumbnail {
                width: 100%;
            }
            
            .video-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
            }
           
             .creator-pfp {
                width: 40px;
                border-radius: 50px;
            }
           
            .video-title {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 12px;
                margin-top: 0;
            }

            .video-creator {
                margin-bottom: 4px;
            }

            .video-creator,
            .video-stats {
                font-size: 12px;
                color: #606060;
                margin-bottom: 4px;
            }
            .video-time {
                position: absolute;
                bottom: 8px;
                right: 5px;
                background-color: rgba(0, 0, 0, 0.8);
                color: #fff;
                padding: 2px 4px;
                font-size: 12px;
                border-radius: 2px;
                font-family: 'Roboto', 'Arial';
            }
      